body {
  background: #cddcec;
  font-family: "Courier New", monospace;
  margin: 0;
  padding: 0;
  color: #222;
}

/* NAVBAR */
.nav {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
}

.logo {
  font-size: 32px;
  letter-spacing: 4px;
  font-weight: 600;
}

.links a {
  margin-left: 30px;
  text-decoration: none;
  color: #222;
  font-size: 20px;
}

.links a.active {
  padding: 6px 14px;
  border: 2px solid #b3c4d9;
  border-radius: 12px;
}

/* PAGE CENTERING */
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
}

/* INPUT BAR */
.task-input {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.task-input input {
  padding: 14px;
  width: 300px;
  border: 2px solid #a9bcd0;
  border-radius: 10px;
  font-size: 18px;
}

.task-input button {
  padding: 14px 22px;
  background: #444;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.task-input button:hover {
  background: #222;
}

/* LIST */
.task-list {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task {
  background: white;
  padding: 15px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #b8c8db;
  font-size: 18px;
}

.delete-btn {
  background: #d9534f;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.delete-btn:hover {
  background: #b52d29;
}
